body {
    background-color:black;
    font-family:arial;
    color:white;
    }
h1{
    color:grey;
    font-family:verenda;
    text-align: center;
    }
.maindiv
{
    background-color:white;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    align:center;
    margin:auto;
    margin-top:12%;
}
#result span
{
    color:red;
    font-weight:bold;
}


